<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "https://cwitemag.github.io/cwitemag.github.io-main/" | absolute_url }}">Theme Home</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "https://cwitemag.github.io/cwitemag.github.io-main/blog/" | absolute_url }}">Creative Content</a></li>
  <li><a class="external" href="https://cwitemag.github.io/cwitemag.github.io-interview/">Interviews</a></li>
  <li><a class="external" href="http://www.google.com">Events</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "https://cwitemag.github.io/cwitemag.github.io-main/about/" | absolute_url }}">About</a></li>
</ul>
