<!-- DYN -->
<script src="{{ "https://cwitemag.github.io/cwitemag.github.io-main/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "https://cwitemag.github.io/cwitemag.github.io-main/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "https://cwitemag.github.io/cwitemag.github.io-main/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "https://cwitemag.github.io/cwitemag.github.io-main/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "https://cwitemag.github.io/cwitemag.github.io-main/assets/js/util.js" | absolute_url }}"></script>
<script src="{{ "https://cwitemag.github.io/cwitemag.github.io-main/assets/js/main.js" | absolute_url }}"></script>
